{% extends 'base.html.twig' %}

{% block title %}TweetPost {{tweetPost.id}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}
    <img src='{{ tweetPost.picture }}' alt='Post picture!'width="500" height="600"></img>
        {# <img src='../images/picture.jpg' alt='Post picture!'width="500" height="600"> #}
        {{ tweetPost.title }}
        {{ tweetPost.text }}
        {# {{ tweetPost.created }} #}
            This  is single!
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Twitter_like_App/Twitter_like_App_Symfony6/src/Controller/TweetPostController.php'|file_link(0) }}">src/Controller/TweetPostController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Twitter_like_App/Twitter_like_App_Symfony6/templates/tweet_post/index.html.twig'|file_link(0) }}">templates/tweet_post/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
